{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:promise/recommended",
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "parser": "babel-eslint"
  },
  "plugins": [
    "promise"
  ],
  "rules": {
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "camelcase": "off",
    "comma-dangle": [
      "warn",
      "never"
    ],
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "no-console": "off",
    "no-nested-ternary": "off",
    "promise/always-return": "off",
    "promise/avoid-new": "off",
    "promise/catch-or-return": "off",
    "node/no-extraneous-require": [
      "error",
      {
        "allowModules": [
          "webpack",
          "@babel/polyfill",
          "@best-shot/core",
          "@best-shot/cli",
          "@best-shot/inspector",
          "best-shot-addons",
          "best-shot-dev-server"
        ]
      }
    ],
    "template-curly-spacing": "off"
  }
}
