{
  "extends": [
    "@nice-move/eslint-config-base",
    "plugin:node/recommended"
  ],
  "rules": {
    "camelcase": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "node/no-extraneous-require": [
      "error",
      {
        "allowModules": [
          "webpack",
          "@best-shot/core",
          "@best-shot/cli",
          "@best-shot/inspector",
          "best-shot-addons",
          "best-shot-dev-server"
        ]
      }
    ]
  }
}
