{
  "*.js": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{json,html,md,yaml,toml}": [
    "prettier --write",
    "git add"
  ],
  ".{prettier,eslint,lintstaged}rc": [
    "prettier --write",
    "git add"
  ]
}
