{
  "singleQuote": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [
        ".*rc",
        "*.json"
      ],
      "options": {
        "parser": "json-stringify"
      }
    }
  ]
}
