function getKeys(object) {
  var keys = [];

  var jsonString = JSON.stringify(object);
  var keyValuePairs = jsonString.slice(1, -1).split(',');

  keyValuePairs.forEach(function forEach(keyValuePair) {
    var keyValueSplit = keyValuePair.split(':');

    var key = keyValueSplit[0].replace(getRegExp('^"|"$', 'g'), '');
    var value = keyValueSplit[1] ? JSON.parse(keyValueSplit[1]) : false;
    if (value) {
      keys.push(key);
    }
  });

  return keys;
}

function toVal(input) {
  var result = '';

  if (typeof input === 'string') {
    result += input;
  } else if (typeof input === 'number') {
    result += input.toString();
  } else if (typeof input === 'object' && input !== null) {
    if (input.constructor === 'Array') {
      var len = input.length;
      for (var index = 0; index < len; index++) {
        if (input[index]) {
          var processedValue = toVal(input[index]);
          if (processedValue) {
            if (result) {
              result += ' ';
            }
            result += processedValue;
          }
        }
      }
    } else {
      var classNames = getKeys(input).join(' ');
      if (classNames) {
        if (result) {
          result += ' ';
        }
        result += classNames;
      }
    }
  }

  return result;
}

function clsx() {
  var currentArg;
  var processedArg;
  var result = '';
  var len = arguments.length;
  for (var i = 0; i < len; i++) {
    currentArg = arguments[i];
    if (currentArg) {
      processedArg = toVal(currentArg);
      if (processedArg) {
        if (result) {
          result += ' ';
        }
        result += processedArg;
      }
    }
  }
  return result;
}

module.exports = { clsx: clsx };
