/* eslint-disable @eslint-community/eslint-comments/disable-enable-pair */
/* eslint-disable prefer-rest-params */
/* eslint-disable vars-on-top */
/* eslint-disable no-cond-assign */
function toVal(mix) {
  var k;
  var y;
  var str = '';

  if (typeof mix === 'string' || typeof mix === 'number') {
    str += mix;
  } else if (typeof mix === 'object' && mix.constructor === 'Array') {
    var len = mix.length;
    for (k = 0; k < len; k++) {
      if (mix[k] && (y = toVal(mix[k]))) {
        if (str) str += ' ';
        str += y;
      }
    }
  }

  return str;
}

function clsx() {
  var i = 0;
  var tmp;
  var x;
  var str = '';
  var len = arguments.length;
  for (; i < len; i++) {
    if ((tmp = arguments[i]) && (x = toVal(tmp))) {
      if (str) str += ' ';
      str += x;
    }
  }
  return str;
}

module.exports = { clsx: clsx };
