name: bring-it

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        os:
          - macos-latest
          - windows-latest
          - ubuntu-latest
        node:
          # - current
          - lts/*
        exclude:
          - os: ubuntu-latest
            node: lts/*
    runs-on: ${{ matrix.os }}
    steps:
      - name: Run
        uses: airkro/bring-it@actions-oidc
        with:
          node-version: ${{ matrix.node }}
          custom-command-after: |
            mkdir -p packages/best-shot/dist
            touch $_/cli.mjs

  publish:
    needs: [test]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Run
        uses: airkro/bring-it@actions-oidc
        with:
          custom-command-after: |
            mkdir -p packages/best-shot/dist
            touch $_/cli.mjs
